body {
  box-sizing: border-box;
}

body p {
  margin: 0;
}

.lessonCategoryBlock {
  max-width: 300px;
  min-height: 34px;
  background: #fff;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
}

.lessonCategory {
  margin-bottom: 1px;
  background: #f0f0f0;
  max-width: 300px;
  min-height: 34px;
  padding: 2px 0;
}

.lessonCategoriesContainer {
  width: 300px;
  height: 100%;
  overflow: scroll;
  text-align: left;
}

.lessonBlock {
  margin-bottom: 1px;
  height: 34px;
  background: #f8f8f8;
  padding: 2px 0;
}

.lessonCategory p, .lessonBlock p {
  padding: 0 10px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}